<%# <!DOCTYPE html>
<html>
    <head>
        <title>It's something.</title>
    </head>
    <body>
        <h1> Although we have no obligation to stay alive</h1>
        <h2>On broken backs we beg for mercy, we will survive</h2>
        <p>Break out, I won't be left here, behind closed doors.</p>
    </body>
    </html> %>

    <!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
        <h1>Hello World</h1>
        <p>This HTML code is inside of a '.erb' file in the views directory, where it belongs.</p>
    </body>
</html>
